body {
	font-size: 16px;
}

h1 {
	font-size: 3em;
	font-family: 'Space Mono', monospace;
}

p {
	font-size: 1em;
	font-family: 'Work Sans', sans-serif;
}

ul li {
  	background-color: gold;
	text-decoration: none;
	list-style: none;
	font-size: 1.5em;
  	display: inline-block;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: red;
}

a:active; {
	color: gray;
}
