

section {
  margin: 20px 20px 20px 20px;
  padding: 30px 30px 30px 30px;
  /*background-color: #d3d3d3;*/
}

.center {
	text-align: center;
}

footer a:link {
  color: white;
  text-decoration: none;
}

footer a:visited {
  color: white;
}

footer a:hover {
  color: #d3d3d3;
}


.imgBox { 
  width:190px;
  height:190px;
  opacity: .7;
  filter: alpha(opacity=100);
  background: url(http://www.corelangs.com/css/box/img/duck.png) no-repeat;
}

/*.imgBox:hover {
  cursor: pointer;
}*/

.imgBox:hover {
  opacity: 1;
  filter: alpha(opacity=30);
}

.imgBox:hover .imageBoxDes {
  display: inline-block;
  padding: 20px 20px 20px 20px;
  background-color: black;
  color: white;
}

.imageBoxDes {
  display: none;
  color: white;
}

.h1 {
  float: right;
  margin: auto;
}

.head {
  margin: 20px 20px 20px 20px;
  padding: 30px 30px 30px 30px;
}


hr {
	width: 900px;
	height: 5px;
	background-color: gray;
	color: gray;
}

.box {
	border: 2px solid white;
	/*background-color: gray;*/
}

.thumbnail-wrapper {
  display: inline-block;
  padding: 2px;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: #fff;
  line-height: 0;
  border-radius: 4px;
}

.thumbnail {
  width: 7rem;
  border-radius: 4px;
}

footer {
  text-align: center;
  background-color: gray;
  margin: 20px 20px 20px 20px;
  padding: 30px 30px 30px 30px;
}
