body {
	font-size: 16px;
	margin: 5px 20px 20px 20px;
  	padding: 10px 10px 10px 10px;
}

h1 {
	font-size: 3em;
	font-family: 'Space Mono', monospace;
}

p {
	font-size: 1em;
	font-family: 'Work Sans', sans-serif;
	line-height: 1.5em;
}

li {
  	background-color: gold;
  	font-family: 'Work Sans', sans-serif;
	text-decoration: none;
	list-style: none;
	font-size: 1.5em;
  	display: inline-block;
  	text-align: center;
  	padding: 10px 10px 10px 10px;
}

ul {
	background-color: gold;
	margin-top: 20px;
	margin-bottom: 20px;
  	padding: 10px 10px 10px 10px;
  	text-align: center;
}


a {
	text-decoration: none;
}

.p1 a:link {
	color: blue;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: red;
}

a:active; {
	color: gray;
}
